hr{
    border-style: none;
    border-top: dotted;
    width: 5%;
    border-width: 5px;
    border-color:grey;
}
body{
    background-color: whitesmoke;
}

h1{
    color: #66bfbf;
    
}

h3{
    color: #66bfbf;
}


